.input_container {
  height: 2rem;
  width: 100%;
  position: relative;
}

.custom_input {
  height: 100%;
  width: 100%;
  outline: none;
  background: none;
  border: none;
  color: var(--secondary-color);
  padding: 0.5rem;
  font-size: 16px;
  touch-action: manipulation;
}

.input_label {
  position: absolute;
  font-family: var(--font-text-medium);
  transform-origin: top left;
  color: #171717;
}

.focus {
  box-shadow: 0 1px 0 0 var(--secondary-color);
}

.not_focus {
  box-shadow: 0 0.5px 0 0 var(--secondary-color);
}

.custom_input_chevron {
  position: absolute;
  left: -1rem;
  bottom: 0.5rem;
}
