.hero {
  height: 100lvh;
}
.hero_text {
  width: 85%;
  margin-top: 4rem;
}

.hero_title {
  font-size: 450%;
  line-height: 1.3;
}

.hero_title:last-child {
  display: flex;
}

.hero_link {
  height: 70%;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .hero {
    height: auto;
    margin-top: 5lvh;
  }
  .hero_text {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .hero_title {
    font-size: 2rem;
    line-height: 1;
  }
}
