.hero {
  height: 100lvh;
}
.hero_text {
  width: 85%;
  margin-top: 4rem;
}

.hero_title {
  font-size: 450%;
  line-height: 1.3;
}

.hero_title:last-child {
  display: flex;
}

.hero_link {
  height: 70%;
  gap: 1.5rem;
}
