.hero {
  height: 100lvh;
}
.hero_text {
  width: 85%;
  margin-top: 4rem;
}

.hero_title {
  color: var(--text-color);
  font-size: 450%;
  font-family: var(--font-title-bold);
  line-height: 1.3;
}

.hero_title:last-child {
  display: flex;
}
