.section_title_container {
  width: 100%;
  gap: 3rem;
  overflow: hidden;
  margin-bottom: 4rem;
  text-wrap: nowrap;
}

.section_title_line {
  height: 1px;
  width: 55%;
  background-color: var(--dark-background);
}
