.skill_container {
  gap: 3%;
  width: 100%;
}

.soft_skill {
  width: 68%;
}

.soft_skill_block {
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 1.5rem;
}

.soft_skill_element {
  width: 48%;
  border-radius: 12px;
  padding: 1rem 0.5rem;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}

.hard_tools_container {
  width: 28%;
}
.hard_skill {
  flex: 1;
  margin-top: -1rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.5px solid var(--secondary-color);
}

.tools_skill {
  flex: 1;
  gap: 0.5rem;
}

.skills_mapping {
  width: 100%;
  gap: 0.5rem;
  flex-wrap: wrap;
}

/* SoftSkillsElement */

.soft_skill_element_container {
  width: 88%;
}

.soft_skill_element_title {
  font-size: 16px;
  font-weight: bold;
}
.soft_skill_element_description {
  font-size: 11px;
  opacity: 0.7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
