.skill_container {
  gap: 3%;
  width: 100%;
}

.soft_skill {
  width: 68%;
}

.soft_skill_block {
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 1.5rem;
}

.soft_skill_element {
  width: 48%;
  border-radius: 12px;
  padding: 1rem 0.5rem;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}

.hard_tools_container {
  width: 28%;
}
.hard_skill {
  flex: 1;
  margin-top: -1rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.5px solid var(--secondary-color);
}

.tools_skill {
  flex: 1;
  gap: 0.5rem;
}

.skills_mapping {
  width: 100%;
  gap: 0.5rem;
  flex-wrap: wrap;
}

/* SoftSkillsElement */

.soft_skill_element_container {
  width: 88%;
}

.soft_skill_element_title {
  font-size: 16px;
  font-weight: bold;
}
.soft_skill_element_description {
  font-size: 11px;
  opacity: 0.7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1024px) and (orientation: portrait) {
  .skill_container {
    flex-direction: column;
    gap: 2rem;
  }
  .soft_skill {
    width: 100%;
  }
  .soft_skill_element {
    width: 47%;
  }
  .hard_tools_container {
    flex-direction: row;
    width: 100%;
    margin-top: 4rem;
  }
  .hard_skill {
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .tools_skill {
    width: 50%;
    padding-left: 1.5rem;
    border-left: 0.5px solid var(--secondary-color);
  }
  .skills_mapping {
    padding-right: 1.5rem;
  }
}

@media (max-width: 768px) {
  .skill_container {
    flex-direction: column;
    gap: 2rem;
  }
  .hard_tools_container {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 4rem;
    flex-direction: column;
  }
  .skills_mapping {
    justify-content: center;
    padding-right: 0;
  }
  .soft_skill {
    width: 100%;
    margin-bottom: 4rem;
  }
  .soft_skill_block {
    flex-direction: column;
  }
  .soft_skill_element {
    width: 100%;
  }
  .hard_skill {
    width: auto;
    margin-top: -1rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.5px solid var(--secondary-color);
  }
  .tools_skill {
    width: auto;
    padding-left: 0;
    border-left: none;
  }
}
