.contact_form {
  width: 100%;
  gap: 1.5rem;
}

.res_api {
  margin: auto;
  gap: 0.8rem;
}

.contact_button {
  width: 100%;
  justify-content: flex-end;
  gap: 5%;
}

.contact_name_email {
  width: 100%;
  gap: 2rem;
}

@media (max-width: 768px) {
  .contact_name_email {
    gap: 1.5rem;
  }
}
