:root {
  --background: #fffcee;
  --dark-background: #171717;
  --border-color: #171717;
  --title-color: #171717;
  --text-color: #1f1f1f;
  --white-text-color: #fffcee;
  --grey-color: #5a5a5a8a;
}
