@font-face {
  font-family: "Rubik-Bold";
  src: url("./fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rubik-Light";
  src: url("./fonts/Rubik-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rubik-Medium";
  src: url("./fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rubik-Regular";
  src: url("./fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rubik-SemiBold";
  src: url("./fonts/Rubik-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DM-bold";
  src: url("./fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM-light";
  src: url("./fonts/DMSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM-medium";
  src: url("./fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM-SemiBold";
  src: url("./fonts/DMSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-title-medium: "DM-medium", sans-serif;
  --font-title-semiBold: "DM-SemiBold", sans-serif;
  --font-title-bold: "DM-bold", sans-serif;
  --font-title-light: "DM-light", sans-serif;
  --font-text-medium: "Rubik-Medium", sans-serif;
  --font-text-light: "Rubik-Light", sans-serif;
  --font-text-semiBold: "Rubik-SemiBold", sans-serif;
  --font-text-regular: "Rubik-Regular", sans-serif;
  --font-text-bold: "Rubik-bold", sans-serif;
}
