* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--primary-color);
  scroll-behavior: smooth;
}

main {
  max-width: 1440px;
  margin: auto;
}

.section_container {
  width: 100%;
  padding: 15lvh 3rem 0 3rem;
}
.flex_row {
  display: flex;
  flex-direction: row;
}
.flex_row_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex_row_center_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex_row_between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex_row_between_center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
}
.flex_column_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex_column_center_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_column_between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex_column_between_center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

:root {
  --primary-color: #fffcee;
  --secondary-color: #171717;
  --light-grey-color: #e0e0e0b5;
  --grey-color: #5a5a5a8a;

  --min-text-size: 12px;
  --text-size: 16px;
  --max-text-size: 18px;
  --title-size: 24px;
}
