.project_modal_container {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.647);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 900;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  height: 100lvh;
  width: 100lvw;
}

.project_modal {
  background: var(--dark-background);
  color: var(--white-text-color);
  min-width: 30%;
  min-height: 50%;
  max-height: 590px;
  max-width: 820px;
  border-radius: 8px;
  overflow: hidden;
  padding: 1rem;
}

.descriptif_content {
  flex: 1;
  gap: 2rem;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.descritif_icons {
  gap: 2rem;
}

.desc_icons_container {
  width: "fit-content";
  height: "fit-content";
  position: "relative";
  margin: auto;
}

.tooltip_desc {
  position: absolute;
  top: -16px;
  right: -24px;
  background-color: var(--dark-background);
  border: 1px solid #959494;
  border-radius: 12px;
  padding: 0.2rem 0.4rem;
  font-family: var(--font-text-light);
  font-size: 8px;
  text-wrap: nowrap;
}
