.project_screen_container {
  height: 100dvh;
  width: 100%;
  position: relative;
}

.project_button {
  position: absolute;
  width: fit-content;
  top: 5%;
  left: 3%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.project_modal {
  height: auto;
  width: 90%;
  max-width: 900px;
  background-color: var(--secondary-color);
  margin: auto;
  border-radius: 24px;
  padding: 2rem 1.5rem;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25), 0 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.project_modal_header_icon {
  display: flex;
  gap: 1rem;
}

.project_modal_separator {
  height: 1px;
  width: 100%;
  opacity: 0.8;
  background-color: var(--primary-color);
  margin-block: 1rem;
}

.project_modal_techno_image {
  gap: 15%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.project_modal_techno {
  align-content: start;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.project_text_background {
  position: absolute;
  font-size: 7rem;
  font-family: var(--font-text-bold);
  background: linear-gradient(to bottom, #0000000a, var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
  user-select: none;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
