.project_modal_header_icon {
  display: flex;
  gap: 1rem;
}

.project_modal_separator {
  height: 1px;
  width: 100%;
  opacity: 0.8;
  background-color: var(--secondary-color);
  margin-block: 1rem;
}

.project_modal_techno_image {
  gap: 15%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.project_modal_image {
  object-fit: contain;
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 300px;
  border-radius: 12px;
  border: 1px solid var(--grey-color);
}

.project_modal_techno {
  align-content: start;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.project_text_background {
  position: absolute;
  font-size: 7rem;
  font-family: var(--font-text-bold);
  background: linear-gradient(to bottom, #0000000a, var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
  user-select: none;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.project_text_bold {
  font-family: var(--font-text-bold);
}

.project_text_font {
  font-family: var(--font-text-regular);
}
