.pils_container {
  padding: 0.5rem 1rem;
  border-radius: 32px;
  width: fit-content;
  height: fit-content;
}

.pils_content {
  font-family: var(--font-text-bold);
  font-size: 0.8em;
  white-space: nowrap;
}
