.home_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.home_text {
  width: 65%;
}
.home_text h2 {
  color: var(--text-color);
  font-size: 300%;
  font-family: var(--font-title-bold);
  line-height: 1.2;
}

.home_text h2:last-child {
  display: flex;
}
.home_text h2:last-child p {
  padding-left: 1.5%;
}
