header {
  height: 15lvh;
  width: 100lvw;
  max-width: 1440px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-image: linear-gradient(
    to bottom,
    rgba(255, 252, 238, 1),
    rgba(255, 252, 238, 0.75),
    rgba(255, 252, 238, 0.45),
    rgba(255, 252, 238, 0)
  );
}

.header_text {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.header_separator {
  height: 5lvh;
  width: 1px;
  background-color: var(--secondary-color);
}

.nav-link {
  text-decoration: none;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  height: 1.5px;
  border-radius: 24px;
  background-color: var(--secondary-color);
  width: 0;
  transition: width 0.5s;
  bottom: -3px;
  left: 0;
}

.nav-link:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .header_text {
    margin-left: -0.5rem;
    margin-right: 1rem;
    gap: 1rem;
  }
  .nav-link {
    display: none;
  }
  .header_separator {
    display: none;
  }
}
