.about_desc {
  width: 72%;
  text-align: center;
  font-size: 1.5rem;
  margin: auto;
}
.strong {
  font-family: var(--font-text-bold);
}

.about_content {
  margin-top: 1rem;
}

.link_rs {
  margin: auto;
  margin-top: 2rem;
  gap: 1rem;
}
