.about_desc {
  width: 70%;
  text-align: center;
  font-size: 18px;
  margin: auto;
}
.strong {
  font-family: var(--font-text-bold);
  color: var(--text-color);
}

.about_content {
  margin-top: 2rem;
}

.link_rs {
  margin: auto;
  margin-top: 3rem;
  gap: 1rem;
}
