.button_custom {
  border: 0.5px solid var(--secondary-color);
  border-radius: 32px;
  padding: 0.7rem 1.4rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 1.3s ease;
}

.button_custom_disabled {
  border: 0.5px solid var(--secondary-color);
  background-color: var(--secondary-color);
  border-radius: 32px;
  padding: 0.7rem 1.4rem;
  cursor: not-allowed;
  position: relative;
  overflow: hidden;
  opacity: 0.5;
}

.button_custom_disabled p {
  color: var(--primary-color) !important;
}

.button_custom p {
  position: relative;
  z-index: 1;
  transition: transform 0.6s ease;
}

.text_arrow {
  transform: rotate(-45deg);
  margin-left: 4px;
  display: inline-block;
  z-index: 1;
  transition: transform 0.6s ease;
  position: relative;
}

.button_overlay_light {
  height: 260%;
  width: 160%;
  border-radius: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  transform: translate(-32%, 20%);
  transition: transform 0.6s ease;
}
.button_overlay_dark {
  height: 260%;
  width: 160%;
  border-radius: 100%;
  background-color: var(--primary-color);
  position: absolute;
  transform: translate(-32%, 20%);
  transition: transform 0.6s ease;
}

.light {
  background-color: var(--primary-color);
}
.dark {
  background-color: var(--secondary-color);
}

.light:hover .button_overlay {
  border: 0.5px solid var(--secondary-color);
}
.dark:hover .button_overlay {
  border: 0.5px solid var(--secondary-color);
}

.button_custom:hover .text_arrow {
  transform: rotate(135deg);
}

.light p {
  color: var(--secondary-color) !important;
}

.dark p {
  color: var(--primary-color) !important;
}

.light:hover p {
  color: var(--primary-color) !important;
}

.dark:hover p {
  color: var(--secondary-color) !important;
}

.button_custom:hover .button_overlay_dark {
  transform: translate(-32%, -50%);
}
.button_custom:hover .button_overlay_light {
  transform: translate(-32%, -50%);
}

@media (max-width: 768px) {
  .text_arrow {
    display: none;
  }
}
