.project_container {
  width: 100%;
  gap: 2rem;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.my-masonry-grid {
  display: flex;
  margin-left: -16px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px;
  background-clip: padding-box;
}

.card_container {
  min-width: 200px;
  max-width: 380px;
  background: #1f1f1f;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 24px;
  position: relative;
}

.card_descriptif {
  position: absolute;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  bottom: 0;
}

.card_container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.bottom_pils {
  bottom: 0;
  position: absolute;
  padding: 0.5rem;
  gap: 0.5rem;
}

.header_pils {
  top: 0;
  left: 0;
  position: absolute;
  padding: 0.5rem;
  gap: 0.5rem;
}
.container_see_projects {
  overflow: hidden;
  width: 100%;
}

.button_see_projects {
  background: none;
  border: none;
  cursor: pointer;
}

.text_see_projects {
  font-size: 16px;
}
